.nav-item .contact{
    background: #FFC100!important;
    border-radius: 50px;
    padding-left: 13px;
    padding-right: 13px;
}
.nav-item.contact .nav-link{
  color: black;
}

.firsthead {
    font-size: 29px;
    font-weight: 200;
    font-family: sans-serif;
    padding-bottom: 15px;
  }
  .sechead {
	border: 4px solid white;
	padding: 7px;
	display: inline;
	font-size: 50px;

}
.thirdhead {
	font-size: 60px;
	font-weight: bold;
	color: #FFC100;
	letter-spacing: 6px;
	padding-top: 15px;
}
.para1 {
	font-size: 22px;
}
.para2 {
	font-size: 14px;
}
.fa-solid.fa-right-long {
	background: #FFC100;
	padding: 15px;
	font-size: 20px;
	border-radius: 22px;
}

  /*before footer  */
  .info-section-image{
	background-image: url('/shape\ 1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 230px;
	align-items: center;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}
.info-section-image span
{
	margin-bottom: 30px;
}
/*  footer */
.services li{
    list-style-type: none;
    font-size: 13px;

}
/*  */
.info-section-image.d-flex.justify-content-center {
	width: 50%;
}
.d-flex.bacpic {
	background-image: url('/3451413.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.info-section-first.col-md-4 {
	margin-left: 6rem;
}
.services {
	margin-left: -2.5rem;
}
.row.py-2.footerrr {
	padding-bottom: 1.5rem !important;
	padding-top: 1.5rem !important;
	padding-left: 1.5rem;
  padding-right: 1.5rem;
}